            body {
                background-image: url('amazonbackground.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            #outsidebox {
                border: 2px solid white;
                background-color: white;
                height: 700px;
                width: 400px;
                margin: 100px 450px;
                border-radius: 20px;
            }
            
            #companyname {
                text-align: center;
            }
            
            #imageamazon {}
            
            #emailinput,
            #passwordinput {
                text-align: center;
                height: 25px;
                width: 290px;
                border: 1px solid black;
                border-radius: 20px;
                margin-left: 45px;
                margin-top: 20px;
            }
            
            #submitbutton {
                background-color: rgb(244, 79, 214);
                color: white;
                height: 30px;
                width: 102px;
                margin-left: 145px;
                margin-top: 10px;
                border-radius: 30px;
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 0.4px;
                border: 1px solid rgb(244, 79, 214);
            }
            
            #forgetlink {
                text-decoration: none;
                color: blue;
                margin-left: 270px;
            }
            
            .newaccountcontainer {
                text-decoration: none;
                margin-top: -10px;
            }
            
            #textnew {
                margin-left: 20px;
            }
            
            #or {
                text-align: center;
            }
            
            .newaccount {
                height: 25px;
                width: 200px;
                border-radius: 20px;
                border: 1px solid rgb(244, 79, 214);
                text-align: center;
                background-color: rgb(244, 79, 214);
                color: white;
                padding: 10px;
                cursor: pointer;
                letter-spacing: 1px;
            }
            
            .newaccount:hover {
                color: rgb(81, 81, 229);
            }
            
            #terms {
                color: blue;
                margin-top: 70px;
                text-align: center;
            }